.automata{
	width: 30vw;
	min-width: 300px;
	height: 80vh;
	border: 1px solid black;
	margin: auto;
	margin-top: 10vh;
	padding: 10px;
	
	background-color: black;
}

.bal, .jobb {
	height: 100%;
}

.bal{
	width: 60%;
	background-color: lightblue;
	float: left;
}

.jobb{
	width: 40%;
	background-color: darkgray;
	float: right;
}

.kijelzo{
	width: 90%;
	height: 30px;
	background-color: black;
	margin: auto;
	margin-top: 50px;
	
	color: red;
	text-align: center;
	font-size: 20px;
}

.gombok{
	width: 90%;
	min-height: 50px;
	border: 1px solid black;
	margin: auto;
	margin-top: 20px;
}

.gombok button {
	width: calc(100% / 3);
}

.kaja{
	width: 50%;
	height: calc(100% / 3);
	float:left;
}

.kaja img {
	width: 100%;
}

.kaja div {
	font-size: 20px;
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

.lyuk{
	width: 80%;
	margin-left: 10%;
	height: 100px;
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 20px;
}

.lyuk img{
	width: 90%;
	max-height: 80%;
	margin-top: 10%;
	margin-left: 5%;
}

.ok_btn{
	margin-top: 20px;
	width: 50px;
	margin-left: calc(50% - 25px);
}